<!DOCTYPE html>
<html>
<head>
  <title> SHOKO | Overall Day Schedule </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daySchedule.css') }}">
</head>
<body>
​
<div class="container">
  <h2>Overall Day Schedule</h2>
  <p></p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Machine type</th>
        <th>Machine id</th>
        <th>Floor</th>
        <th>User</th>
        <th>Times</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bicycle</td>
        <td>41</td>
        <td>1st Floor</td>
        <td>jea2161</td>
        <td>8:00 am - 2:30 pm</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bicycle</td>
        <td>42</td>
        <td>1st Floor</td>
        <td>dll712</td>
        <td>8:00 am - 2:30 pm</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Strider</td>
        <td>11</td>
        <td>1st Floor</td>
        <td>sk4120</td>
        <td>8:00 am - 8:00 pm</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Strider</td>
        <td>12</td>
        <td>1st Floor</td>
        <td>bball220</td>
        <td>8:00 am - 8:00 pm</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Stair Master</td>
        <td>21</td>
        <td>1st Floor</td>
        <td>cc2174</td>
        <td>4:00 pm - 8:30 pm</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Stair Master</td>
        <td>22</td>
        <td>1st Floor</td>
        <td>go441</td>
        <td>4:00 pm - 8:30 pm</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Ski Machine</td>
        <td>31</td>
        <td>3rd Floor</td>
        <td>ls3223</td>
        <td>2:00 pm - 6:30 pm</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Ski Machine</td>
        <td>32</td>
        <td>3rd Floor</td>
        <td>lmm9819</td>
        <td>2:00 pm - 6:30 pm</td>
      </tr>

    </tbody>
  </table>
  </div>
</div>
​
</body>
</html>
​
