<!DOCTYPE html>

<html lang = "en">

<form action = "/login" method ="post" id="form">

	<div id="mainIDbox">


		<!--data term, and accompanying description-->
		<!-- <div id="sign_up"><center>Sign up now!</center></div> -->
			<div id="username_group">
				<!-- <div class="user_field">Username:</div> -->
				<!-- <div class="user_in_field"> --><input type="username" name='username' placeholder="Username"><!-- </div> -->
			</div>
			
			<div id="password_group">
				<!-- <div class="user_field">Password:</div> -->
				<!-- <div class="user_in_field"> --><input type="password" name='password' placeholder="Password"><!-- </div> -->
			</div>
			
			<div id="email_group">
				<!-- <div class="user_field">Email:</div> -->
				<!-- <div class="user_in_field"> --><input type="email" name='email' placeholder="Email"><!-- </div> -->
			</div>
		</div>