<!DOCTYPE html>

<html>
    <head>
      <title> SHOKO | Cancel A Workout </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingStyle.css') }}">
    </head>

    <body>
    <center>
  		<div class="logo">
      		<img src="{{ url_for('static', filename='pics/logo.png') }}">
    	</div>
    </center>

    <form class="modal-content" action="{{ url_for('cancelWorkout') }}" method=post>
      <div class="container">
        <h3>Your next workout is:</h>
        <p>+ Machine type: {{ nextWorkout[0] }}</p>
        <p>+ Machine ID: {{ nextWorkout[1] }}</p>
        <p>+ Duration: {{ nextWorkout[2] }}</p>
        <p>+ Your UNI: {{ nextWorkout[3] }}</p>
        <div class="clearfix1">
          <button type="button" onclick="location.href='/LoggedInUsers';" class="cancelbtn1">Cancel</button>
          <button type="submit" class="signupbtn1">Cancel This Workout!</button>
        </div>
      </div>
    </form>

    {% extends "navBar.html" %}
    </body>

</html>
