<!DOCTYPE html>

<html>
    <head>
      <title> SHOKO | Cancel A Workout </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingStyle.css') }}">
    </head>

    <body>
    <center>
  		<div class="logo">
      		<img src="{{ url_for('static', filename='pics/logo.png') }}">
    	</div>
    </center>

    {% if workoutExists %}
      <form class="modal-content" action="{{ url_for('scheduleSuccess') }}" method=post>
        <div class="container">
          <h3>You Have Cancelled:</h>
          <p>+ Machine type: {{ nextWorkout[0] }}</p>
          <p>+ Machine ID: {{ nextWorkout[1] }}</p>
          <p>+ Duration: {{ nextWorkout[2] }}</p>
          <div class="clearfix1">
           
          </div>
        </div>
      </form>
    {% else %}
    <center>
        <h2 style="color:white">You have no workouts scheduled to cancel</h>
    </center>
    {% endif %}

    {% extends "navBar.html" %}
    </body>

</html>
