<!DOCTYPE html>

<html>
    <head>
      <title> SHOKO | Logged In Users </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingStyle.css') }}">
    </head>

    <body>
    <center>
  		<div class="logo">
      		<img src="{{ url_for('static', filename='pics/logo.png') }}">
    	</div>
			<button class="mainButtons" onclick="document.getElementById('id02').style.display='block'" >Cancel Workout</button>
   		<button class="mainButtons" onclick="document.getElementById('id01').style.display='block'" >Schedule Workout</button>
		</center>

		<div id="id01" class="modal1">
		  <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">×</span>
		  <form class="modal1-content animate" action="{{ url_for('scheduleWorkout') }}" method="POST">
		  	<script type="text/javascript" src="{{ url_for('static', filename='js/landingScript.js') }}"></script>
		    <div class="container1">
          <label><b>Choose Machine And Time:</b></label><br>
          {% for machineType in machines %}
            <br><br>{{ machineType }} <br>
            {% for specificMachine in machines[machineType] %}
              <label class="radio-inline">
                <input type="radio" name="optradio">{{ specificMachine }}
              </label>
              <select class="form-control" id="time" name=time>
                {% for machineTime in machines[machineType][specificMachine] %}
                  <option value="{{machineTime}}">{{ machineTime }}</option>
                {% endfor %}
              </select>
              <br>
            {% endfor %}
          {% endfor %}
          <br><br>
        <div class="clearfix1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn1">Cancel</button>
            <button type="submit" class="signupbtn1">Schedule My Workout!</button>
          </div>
		    </div>
		  </form>
		</div>

		<div id="id02" class="modal">
		  <span onclick="document.getElementById('id02').style.display='none'" class="close1" title="Close Modal">&times;</span>
		  <form class="modal-content animate" action="{{ url_for('cancelWorkout') }}" method=post>
		  	<script type="text/javascript" src="{{ url_for('static', filename='js/landingScript.js') }}"></script>
		    <div class="container">

          <label><b>UNI</b></label>
		      <input type="text" placeholder="Enter UNI.." name="uni" required>

          <label><b>Are you sure you want to cancel your workout?</b></label><br>
          <input type="radio" name="sure" value="yes" checked> Yes<br>
          <input type="radio" name="sure" value="no" checked> No<br>

          <div class="clearfix1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1">Cancel</button>
            <button type="submit" class="signupbtn1">Submit</button>
          </div>
		    </div>
		  </form>
		</div>
    {% extends "navBar.html" %}
    </body>

</html>
