<!DOCTYPE html>

<html>
    <head>
      <title> SHOKO | Logged In Users </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingStyle.css') }}">
    </head>

    <body>
    <center>
  		<div class="logo">
      		<img src="{{ url_for('static', filename='pics/logo.png') }}">
    	</div>
			<button class="mainButtons" onclick="document.getElementById('id02').style.display='block'" >Cancel Workout</button>
   		<button class="mainButtons" onclick="document.getElementById('id01').style.display='block'" >Schedule Workout</button>
		</center>

		<div id="id01" class="modal1">
		  <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">×</span>
		  <form class="modal1-content animate" action="{{ url_for('scheduleWorkoutSuccess') }}" method="post">
		  	<script type="text/javascript" src="{{ url_for('static', filename='js/landingScript.js') }}"></script>
		    <div class="container1">
          <label><b>Choose Machine Type:</b></label><br>
          <label class="radio-inline">
            <input type="radio" name="optradio">Treadmill
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Strider
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Ski
          </label>
          <br><br>

          <label for="sel1">Choose a Time:</label><br>
          <!-- Replace this with a flask for loop -->
          <select class="form-control" id="sel1">
            {% for time in times %}
              <option>{{ time }}</option>
            {% endfor %}
          </select>
          <br><br>
          <div class="clearfix1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn1">Cancel</button>
            <button type="submit" class="signupbtn1">Schedule My Workout!</button>
          </div>
		    </div>
		  </form>
		</div>

		<div id="id02" class="modal">
		  <span onclick="document.getElementById('id02').style.display='none'" class="close1" title="Close Modal">&times;</span>
		  <form class="modal-content animate" action="{{ url_for('login') }}" method=post>
		  	<script type="text/javascript" src="{{ url_for('static', filename='js/landingScript.js') }}"></script>
		    <div class="container">

          <label><b>Choose Machine And Time:</b></label><br>
          {% for machineType in machines %}
            <br><br>{{ machineType }} <br>
            {% for specificMachine in machines[machineType] %}
              <label class="radio-inline">
                <input type="radio" name="optradio">{{ specificMachine }}
              </label>
              <select class="form-control" id="sel1">
                {% for machineTime in machines[machineType][specificMachine] %}
                  <option>{{ machineTime }}</option>
                {% endfor %}
              </select>
              <br>
            {% endfor %}
          {% endfor %}

          <br><br>
          <div class="clearfix1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1">Cancel</button>
            <button type="submit" class="signupbtn1">Cancel My Workout!</button>
          </div>
		    </div>
		  </form>
		</div>
    {% extends "navBar.html" %}
    </body>

</html>
