<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 13%; */
}

li {
    float: left;
}

.ref, #shoko {
    display: block;
    color: navy;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #C4D8E2;
}

.active {
    background-color: #4CAF50;
}

#shoko {
  float: right;
}

#social {
  position: absolute;
  left: 44%;
  top: 87%;
  width: 100%;
}
#midLogo {
  padding-right: 14px;
  padding-left: 14px;
}

</style>

<div id="social">
  <a href="https://www.facebook.com/columbiagym/">
      <img title="Facebook" alt="Facebook" src="{{ url_for('static', filename='pics/facebook.png') }}" width="45" height="45"/></a>
  <a id="midLogo" href="https://www.linkedin.com/school/columbia-university/``" class="socButton">
      <img title="LinkedIn" alt="LinkedIn" src="{{ url_for('static', filename='pics/linkedin.png') }}" width="45" height="45"/></a>
  <a href="https://twitter.com/GoColumbiaLions?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
      <img title="Twitter" alt="Twitter" src="{{ url_for('static', filename='pics/twitter.png') }}" width="45" height="45"/></a>
</div>

<ul>
  <li><a class="ref" href="/">Login</a></li>
  <li><a class="ref" href="/gymSchedule">Gym Schedule</a></li>
  <li><a class="ref" href="/LoggedInUsers">Schedule a Workout</a></li>
  <li><a class="ref" href="/about">About</a></li>
  <li><a class="ref" href="#home">Logout</a></li>
  <li id="shoko">S H O K O</li>
</ul>
